name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          npm install
          npm install -D webpack-cli

      - name: Build and test
        run: |
          npm run build
          npm test
          npm run coverage
          
      - name: SonarQube Analysis
        run: |
          /home/nidhii/sonar-scanner-4.8.0.2856-linux/bin/sonar-scanner
          -Dsonar.projectKey=serverless1 \
          -Dsonar.sources=. \
          -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info \
          -Dsonar.host.url=http://localhost:9000 \
          -Dsonar.login=sqp_44596f7ea84deb602b4618486b1ed3572e55b9af

            
